@page "/singlestourney"

@code {
	string p1Name = "";
	string p2Name = "";
	string p1Score = "";
	string p2Score = "";
	string matchInfo = "";

	Task InitPage()
	{
		p1Name = "";
		p2Name = "";
		p1Score = "0";
		p2Score = "0";
		matchInfo = "";
		return Task.CompletedTask;
	}

	protected override async Task OnInitializedAsync()
	{
		await InitPage();
	}

	private void UpdateAll()
	{
		string assemblypath = System.Reflection.Assembly.GetExecutingAssembly().Location;
		string workingpath = System.IO.Path.GetDirectoryName(assemblypath);

		string[] filepaths = new string[5]
		{
			workingpath + "\\Output\\P1.txt",
			workingpath + "\\Output\\scrP1.txt",
			workingpath + "\\Output\\P2.txt",
			workingpath + "\\Output\\scrP2.txt",
			workingpath + "\\Output\\label.txt"
		};

		if (!System.IO.Directory.Exists(workingpath + "\\Output"))
		{
			System.IO.Directory.CreateDirectory(workingpath + "\\Output");
		}

		for (int i = 0; i < 5; i++)
		{
			using (StreamWriter writer = new StreamWriter(filepaths[i]))
			{
				switch (i)
				{
					case 0:
						writer.WriteLine(p1Name);
						break;
					case 1:
						writer.WriteLine(p1Score);
						break;
					case 2:
						writer.WriteLine(p2Name);
						break;
					case 3:
						writer.WriteLine(p2Score);
						break;
					case 4:
						writer.WriteLine(matchInfo);
						break;
					default:
						break;
				}
			}
		}
	}

	private void SwitchPlayers()
	{
		(p1Name, p2Name) = (p2Name, p1Name);
		(p1Score, p2Score) = (p2Score, p1Score);
	}

	private void Clear()
	{
		InitPage();
	}
}

<PageTitle>Singles Tourney</PageTitle>
<h3>Singles Tourney</h3><br />

<label>Player 1</label>
<input @bind="p1Name" /><br />
<input type="number" style="width:150px" @bind="p1Score" /><br />

<label>Player 2</label>
<input @bind="p2Name" /><br />
<input type="number" @bind="p2Score" /><br />

<label>Match Info</label>
<input @bind="matchInfo" /><br /><br />

<button @onclick="UpdateAll">Update</button>
<button @onclick="SwitchPlayers">Switch</button>
<button @onclick="Clear">Clear</button>